/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
                'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  animation: color 12s ease-in-out infinite;
  color: #333;
  position: relative; /* Ensure relative positioning for z-index */
  min-height: 100vh; /* Ensure full viewport height */
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Code Styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Weather Dashboard */
.weather-dashboard {
  text-align: center;
  margin: 20px;
  position: relative; /* Ensure relative positioning for z-index */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure dashboard appears above background */
}

/* Weather Card */
.weather-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  /* background-color: #fff; */
   /* Ensure contrast against background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Alert */
.alert {
  color: red;
  font-weight: bold;
}

/* Weekly Forecast */
.weekly-forecast {
  margin-top: 20px;
}

.forecast-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.forecast-card {
  margin: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  background-color: #fff; /* Ensure contrast against background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border-radius: 10px; /* Add slight rounding for aesthetics */
}

.forecast-card:hover {
  transform: scale(1.05);
}
